#filter-container {
    position: absolute;
    left: 4%;
    width: 5%;
    min-width: 50px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--slate-light) transparent;
}

#icon-list { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding-top: 10px;
}

.icon {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    aspect-ratio: 1 / 1;
    min-width: 35px;
    min-height: 35px;
    border-radius: 15px;
    background-color: var(--charcoal);
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    transition: background-color .2s, box-shadow .2s;
}

.icon:hover, .window-button:hover{
    background-color: var(--mint-light);
}

.icon:active, .window-button:active{
    background-color: var(--slate);
}
.selected {
    background-color: var(--mint-light);
    box-shadow: 0px 0px 10px white;
}

.window-button {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--charcoal);
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, outline .2s;
}
