@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mint: #3cd184;
  --mint-light: #ffccbc;
  --forest: #2e6f40;
  --pastel-blue: rgb(179, 235, 242);
  --slate: #1d1d1d;
  --slate-light: #888888;
  --charcoal: #131313;
}

body {
  background-color: black;
}
