@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mint: #3cd184;
  --forest: #2e6f40;
  --pastel-blue: rgb(179, 235, 242);
  --slate: #161a1d;
}

body {
  background-color: black;
}
