.display-container {
    position: absolute;
    width: 38%;
    height: 96%; 
    right: 1%;
    top: 2%;
    border-radius: 15px;
    padding-left: 2%;
    padding-top: 1%;
    overflow-y: scroll;
    scrollbar-color: var(--slate-light) transparent;
}

.text {
    color: white;
    font-weight: 600;
}

#project-title, #default-title {
    font-size: 40px;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 75%;
    max-height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color .2s;
    cursor: pointer;
}

#close-button Icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#close-button:hover {
    background-color: var(--mint-light);
}

#project-image {
    width: 95%;
    aspect-ratio: 2 / 1;
    border-radius: 15px;
    background-size: cover;
    box-shadow: 0px 0px 10px black;
}

#techstack-parent {
    position: relative;
}

.section-title {
    font-size: 30px;
    margin-bottom: 3%;
}

.section {
    width: 95%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 4%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    background-color: var(--slate);
    margin-bottom: 2%;
}

#techstack-list {
    position: relative;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1%;
}

#description {
    height: fit-content;
}

#Links {
    width: 95%;

}

#default-display {
    transition: transform .5s;
}

.icon-container {
    width: 12.5%;
    min-width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 1%;
    background-color: var(--charcoal);
    transition: background-color .2s, box-shadow .2s;
}

.icon-container:hover {
    background-color: var(--mint-light);
    box-shadow: 0px 0px 10px white;
}

#image {
    height: 25%;
    background-image: url(/smile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#about-msg {
    overflow-y: scroll;
    scrollbar-color: var(--slate-light) transparent;
    max-height: 250px;
}

.link-icon {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 90%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: var(--charcoal);
    box-shadow: 0px 0px 5px black;
    transition: background-color .2s, box-shadow .2s;
}

.link-icon:hover {
    background-color: var(--mint-light);
    box-shadow: 0px 0px 5px white;
}

.translated {
    transform: translateX(120%);
}

