#project-box-container-parent {
    position: relative;
    width: 48%;
    height: 96%;
    left: 12%;
    top: 2%;
    border-right: 5px solid black;
    border-radius: 15px;
    margin-left: 5px;
}

#project-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 35px;
    width: 95%;
    height: 95%;
    overflow-x: visible;
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}

#outer-parent {
    perspective: 10000px;
    perspective-origin: center;
    width: fit-content;
    height: fit-content;
}

.box-outer {
    position: relative;
    height: 18vh;
    min-height: 125px;
    max-width: 35vw;
    aspect-ratio: 2 / 1;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    transition: transform .1s, box-shadow .2s;
}

.box-outer:hover {
    box-shadow: 0px 0px 15px white;
}
.box-outer, .box-outer * {
    transform-style: preserve-3d;
}

.box-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
}

.font-config {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}

.name-plate {
    position: absolute;;
    top: 5px;
    left: 5px;
    border-radius: 10px 0px 10px 0px;
    padding-left: 2%;
    padding-right: 2%;
}

.link-bar {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 2%;
    height: 100%;
    transition: width .2s;
}

.link-expanded {
    width: 10%;
}