#project-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top: 0%;
    right: 0%;
    gap: 15px;
    width: 60%;
    height: fit-content;
    overflow: visible;
    border: 5px solid red;
}

#outer-parent {
    perspective: 10000px;
    perspective-origin: center;
    width: fit-content;
    height: fit-content;
}

.box-outer {
    position: relative;
    height: 25vh;
    min-height: 175px;
    aspect-ratio: 9 / 9;
    background-color: transparent;
    transition: transform .1s;
}

.box-outer, .box-outer * {
    transform-style: preserve-3d;
}

.box-image {
    width: 100%;
    height: 100%;
    background: url(https://assets.monica.im/tools-web/_next/static/media/mobile_upscale.e93d7497.webp);
    background-size: cover;
}

.font-config {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}

.name-plate {
    position: absolute;;
    top: 5px;
    left: 5px;
    border-radius: 0px 0px 10px 0px;
    padding-left: 2%;
    padding-right: 2%;
}

.link-bar {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 2%;
    height: 100%;
    transition: width .2s;
}

.link-expanded {
    width: 10%;
}