#window-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max(20vh, 150px);
    aspect-ratio: 3 / 1;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
}

#key-container {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
#key-input {
    width: 50%;
    height: 35px;
    padding-left: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    color: black;
}

#url-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#url-input {
    width: 75%;
    height: 35px;
    padding-left: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    color: black;
}

label {
    color: white;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 35px;
    gap: 20px;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
}

.submit-button {
    width: 15%;
    user-select: none;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    line-height: 35px;
}
