#title-container-parent {
    position: absolute;
    left: 0%;
    width: 4%; 
    height: 100%; 
}

#title-container {
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.letter {
    position: relative;
    width: 100%;
    height: 6%;
    font-size: 3vmax;
    font-weight: 600;
    text-align: center;
}
