#filter-container {
    position: relative;
    width: 100%;
    min-width: 2rem;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--slate-light) transparent;
    z-index: 5;
}

#icon-list { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding-top: 10px;
}

.icon {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 65%;
    min-width: 30px;
    min-height: 30px;
    max-width: 8vmax;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background-color: var(--charcoal);
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    transition: background-color .2s, box-shadow .2s;
}

.icon:hover, .window-button:hover{
    background-color: var(--mint-light);
}

.icon:active, .window-button:active{
    background-color: var(--slate);
}
.selected {
    background-color: var(--mint-light);
    box-shadow: 0px 0px 10px white;
}

.window-button {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 30px;
    background-color: var(--charcoal);
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, outline .2s;
}
