#project-window-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max(50vh, 300px);
    aspect-ratio: 1 / 1;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
    padding: 10px;
}

#tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    max-height: 200px;
    background-color: var(--slate);
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 15px;
    scrollbar-color: var(--slate-light) transparent;
    box-shadow: 0px 0px 10px black;
}

.tech-icon {
    background-color: var(--charcoal);
    border-radius: 5px;
    transition: background-color .2s;
}

.tech-icon:hover {
    background-color: var(--mint-light);
}

.tech-icon:active {
    background-color: var(--slate);
}

.selected {
    background-color: var(--mint-light);
    box-shadow: 0px 0px 10px white;
}

input, textarea {
    background-color: var(--slate);
    color: white;
    margin-left: 5px;
    border-radius: 5px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 5px black;
}

#description-area {
    height: 90%;
    width: 100%;
}

label, .button {
    color: white;
    overflow: hidden;
}

.button-container {
    background-color: var(--slate);
    border-radius: 15px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    width: 75%;
    height: 50%;
    transform: translate(-50%, -50%);
    color: black;
    user-select: none;
    cursor: pointer;
}