/*Unused
#project-box-container-parent {
    position: relative;
    width: 48%;
    height: 98%;
    left: 9.25%;
    top: 1%;
    border-right: 5px solid black;
    border-radius: 5px;
    background-color: var(--charcoal);
    border: 1px solid var(--charcoal); The border-radius only works if this is here for some reason
    margin-left: 5px;
}*/

#project-box-container {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    border-radius: 5px;
    background-color: var(--charcoal);
    scrollbar-color: var(--slate-light) transparent;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 1;
}

#project-flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
    gap: 1rem;
    width: 100%;
    height: fit-content;
}

#outer-parent {
    perspective: 10000px;
    perspective-origin: center;
    width: 100%;
}

.box-outer {
    position: relative;
    width: 100%;
    height: 3rem;
    min-height: 100px;
    border-radius: 1px;
    background: black;
    box-shadow: 0px 0px 10px black;
    transition: transform .1s, box-shadow .1s, letter-spacing .2s, font-weight .2s;
}

.box-outer:hover {
    box-shadow: 0px 0px 10px white;
    letter-spacing: 4px;
    font-weight: 500;
}

.box-animated {
    background: linear-gradient(90deg, var(--forest) 0%, var(--pastel-blue) 100%);
    background-size: 400% 400%;
    animation: box-inspect 8s infinite ease-in-out;
    box-shadow: 0px 0px 10px white !important;
    letter-spacing: 4px !important;
    font-weight: 500 !important;
}

.box-outer, .box-outer * {
    transform-style: preserve-3d;
}

.box-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
}

.font-config {
    font-size: min(2.5rem, 2.25vmax);
    font-weight: 100;
    letter-spacing: 2px;
}

.name-plate {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 100%;
    max-width: 90%;
    border-radius: 2px 0px 10px 0px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}

.link-bar {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 2%;
    height: 100%;
    transition: width .2s;
}

.link-expanded {
    width: 10%;
}

@keyframes box-inspect {
    /* Start position */
    0% {
        background-position: 0% 50%;
    }
    /* Move to the end position halfway through the animation */
    50% {
        background-position: 100% 50%;
    }
    /* Return to the start position for a seamless loop */
    100% {
        background-position: 0% 50%;
    }
}