#title-container-parent {
    width: 100%; 
    height: 100%; 
    background-color: var(--foreground);
    border-right: 1px solid var(--slate-light);
}

#title-container {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.letter {
    position: relative;
    width: 100%;
    height: 6%;
    font-size: min(3vmax, 4rem);
    font-weight: 600;
    text-align: center;
    color: var(--mint-light);
}